.svn
.DS_Store
*.pyc
*.pyo
*.egg-info
*.egg
*.pt.cache
.Python
*.mo
*.o
*.lo
*.la
.*.rej
*.rej
.*~
*~
#*#
.#*
.~lock.*#
.VimballRecord
.netrwhist
tags
tags-*
en.utf-8.add.spl
svn-commit.tmp
.AppleDouble
.vim/bundle/command-t/ruby/command-t/Makefile
.vim/bundle/command-t/ruby/command-t/ext.bundle
.vim/bundle/command-t/ruby/command-t/mkmf.log
.installed.cfg
bin
build
include
lib
share
cast-offs
develop-eggs
development
*.db
*.sublime-project
*.sublime-workspace
.mr.developer.cfg
outline_improvements.txt
src
html
slides
new_mash
.buildinfo
pip-selfcheck.json
.ipynb_checkpoints
testenvs
