#
# Buildout to set-up Sphinx
#
[buildout]
parts = 
    sphinx
    venv
    pip
    build_s5
    executable

extensions =
    buildout.dumppickedversions

allow-picked-versions = true

versions = versions

script-in = ${buildout:directory}/commands/build.in

[sphinx]
recipe = collective.recipe.sphinxbuilder
#doc-directory = .
outputs = 
    html
source = ${buildout:directory}/source/main
build = ${buildout:directory}/build
eggs =
    Sphinx
    docutils
    roman
    Pygments

[venv]
recipe = rjm.recipe.venv
venv_options = --no-site-packages --distribute
distutils_urls =
    http://pypi.python.org/packages/source/d/docutils/docutils-0.9.1.tar.gz

[pip]
recipe = gp.recipe.pip
virtualenv = ${buildout:directory}
install = Pygments


[build_s5]
recipe = collective.recipe.template[genshi]:genshi
input = ${buildout:script-in}
output = ${buildout:directory}/bin/build_s5
build-suffix = html
build-directory = ${buildout:directory}/build/html/presentations
build-cmd = ${buildout:directory}/bin/rst2s5.py

[executable]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds = 
    chmod 744 ${build_s5:output}

[versions]
# pin versions for continued sanity
Jinja2 = 2.6
Pygments = 1.5
Sphinx = 1.1.3
collective.recipe.sphinxbuilder = 0.7.1
roman = 1.4.0

#Required by:
#collective.recipe.sphinxbuilder 0.7.1
docutils = 0.9.1

#Required by:
#collective.recipe.sphinxbuilder 0.7.1
zc.buildout = 1.5.2

#Required by:
#collective.recipe.sphinxbuilder 0.7.1
zc.recipe.egg = 1.3.2

distribute = 0.6.30

Genshi = 0.6
collective.recipe.cmd = 0.5
collective.recipe.template = 1.9
rjm.recipe.venv = 0.8

#Required by:
#collective.recipe.sphinxbuilder 0.7.1
#zc.recipe.egg 1.3.2
#zc.buildout 1.5.2
setuptools = 0.6c12dev-r88846

#Required by:
#rjm.recipe.venv 0.8
virtualenv = 1.8.2
