<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python Learning Journal</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ request.static_path('learning_journal:static/styles.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ request.route_url('home') }}">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Python Journal</h1>
      <section id="content">
      {% block body %}{% endblock %}
      </section>
    </main>
    <footer>
      <p>Created in the UW PCE Python Certificate Program</p>
    </footer>
  </body>
</html>
