{% extends "layout.jinja2" %}
{% block body %}
{% if entries %}
<h2>Journal Entries</h2>
<ul>
  {% for entry in entries %}
    <li>
    <a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.title }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
<p>This journal is empty</p>
{% endif %}
<p><a href="{{ request.route_url('action', action='create') }}">New Entry</a></p>
{% endblock %}
